# Ignore the virtual environment
venv/
.venv/

# Ignore Git directory
.git/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore IDE and OS-specific files
.vscode/
.idea/
.DS_Store

# Ignore environment files (they are injected at runtime)
.env
