# Virtual Environment
venv/
.venv/

# Python Cache Files
__pycache__/
*.pyc
.pytest_cache/

# Environment files
.env

# SQLite databases
*.db
*.sqlite3

# Logs
*.log

# IDE folders
.vscode/
.idea/

# Build and distribution files
dist/
build/
*.egg-info/
